/* Font: Century Supra C3  */
@font-face {
  font-family: century_supra_c3;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('../../../../static/fonts/Century_Supra/C3/century_supra_c3_regular.woff2')
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: century_supra_c3;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url('../../../../static/fonts/Century_Supra/C3/century_supra_c3_bold.woff2')
    format('woff2');
  font-display: swap;
}

/* Font: Century Supra C4  */
/* @font-face {
    font-family: century_supra_c4;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Century_Supra/C4/century_supra_c4_regular.woff2') format('woff2');
  }
  @font-face {
    font-family: century_supra_c4;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('../../../../static/fonts/Century_Supra/C4/century_supra_c4_bold.woff2') format('woff2');
  } */

/* Font: Century Supra t3  */
@font-face {
  font-family: century_supra_t3;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('../../../../static/fonts/Century_Supra/T3/century_supra_t3_regular.woff2')
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: century_supra_t3;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url('../../../../static/fonts/Century_Supra/T3/century_supra_t3_italic.woff2')
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: century_supra_t3;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url('../../../../static/fonts/Century_Supra/T3/century_supra_t3_bold.woff2')
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: century_supra_t3;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: url('../../../../static/fonts/Century_Supra/T3/century_supra_t3_bold_italic.woff2')
    format('woff2');
  font-display: swap;
}

/* Font: Century Supra t4  */
/* @font-face {
    font-family: century_supra_t4;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Century_Supra/T4/century_supra_t4_regular.woff2') format('woff2');
  }
  @font-face {
    font-family: century_supra_t4;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Century_Supra/T4/century_supra_t4_italic.woff2') format('woff2');
  }
  @font-face {
    font-family: century_supra_t4;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('../../../../static/fonts/Century_Supra/T4/century_supra_t4_bold.woff2') format('woff2');
  }
  @font-face {
    font-family: century_supra_t4;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('../../../../static/fonts/Century_Supra/T4/century_supra_t4_bold_italic.woff2') format('woff2');
  } */
