/* Font: Concourse c2 */
/* @font-face {
  font-family: concourse_c2;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('../../../../static/fonts/Concourse/C2/concourse_c2_regular.woff2')
    format('woff2');
} */
/* @font-face {
    font-family: concourse_c2;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/C2/concourse_c2_bold.woff2') format('woff2');
  } */

/* Font: Concourse c3 */
/* @font-face {
    font-family: concourse_c3;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/C3/concourse_c3_regular.woff2') format('woff2');
  }
  @font-face {
    font-family: concourse_c3;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/C3/concourse_c3_bold.woff2') format('woff2');
  } */

/* Font: Concourse c4 */
/* @font-face {
  font-family: concourse_c4;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('../../../../static/fonts/Concourse/C4/concourse_c4_regular.woff2')
    format('woff2');
} */
/* @font-face {
    font-family: concourse_c4;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/C4/concourse_c4_bold.woff2') format('woff2');
  } */

/* Font: Concourse c6 */
/* @font-face {
    font-family: concourse_c6;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/C6/concourse_c6_regular.woff2') format('woff2');
  } */

/* Font: Concourse c7 */
/* @font-face {
    font-family: concourse_c7;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/C7/concourse_c7_regular.woff2') format('woff2');
  } */

/* Font: Concourse c8 */
/* @font-face {
    font-family: concourse_c8;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/C8/concourse_c8_regular.woff2') format('woff2');
  } */

/* Font: Concourse t2 */
/* @font-face {
  font-family: concourse_t2;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('../../../../static/fonts/Concourse/T2/concourse_t2_regular.woff2')
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: concourse_t2;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url('../../../../static/fonts/Concourse/T2/concourse_t2_italic.woff2')
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: concourse_t2;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url('../../../../static/fonts/Concourse/T2/concourse_t2_bold.woff2')
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: concourse_t2;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: url('../../../../static/fonts/Concourse/T2/concourse_t2_bold_italic.woff2')
    format('woff2');
  font-display: swap;
} */

/* Font: Concourse T3 */
/* @font-face {
    font-family: concourse_t3;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/T3/concourse_t3_regular.woff2') format('woff2');
  }
  @font-face {
    font-family: concourse_t3;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/T3/concourse_t3_italic.woff2') format('woff2');
  }
  @font-face {
    font-family: concourse_t3;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/T3/concourse_t3_bold.woff2') format('woff2');
  }
  @font-face {
    font-family: concourse_t3;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/T3/concourse_t3_bold_italic.woff2') format('woff2');
  } */

/* Font: Concourse t4 */
@font-face {
  font-family: concourse_t4;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('../../../../static/fonts/Concourse/T4/concourse_t4_regular.woff2')
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: concourse_t4;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url('../../../../static/fonts/Concourse/T4/concourse_t4_italic.woff2')
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: concourse_t4;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url('../../../../static/fonts/Concourse/T4/concourse_t4_bold.woff2')
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: concourse_t4;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: url('../../../../static/fonts/Concourse/T4/concourse_t4_bold_italic.woff2')
    format('woff2');
  font-display: swap;
}

/* Font: Concourse t6 */
/* @font-face {
    font-family: concourse_t6;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/T6/concourse_t6_regular.woff2') format('woff2');
  }
  @font-face {
    font-family: concourse_t6;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/T6/concourse_t6_italic.woff2') format('woff2');
  } */

/* Font: Concourse t7 */
/* @font-face {
    font-family: concourse_t7;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/T7/concourse_t7_regular.woff2') format('woff2');
  }
  @font-face {
    font-family: concourse_t7;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/T7/concourse_t7_italic.woff2') format('woff2');
  } */

/* Font: Concourse t8 */
/* @font-face {
    font-family: concourse_t8;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/T8/concourse_t8_regular.woff2') format('woff2');
  }
  @font-face {
    font-family: concourse_t8;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('../../../../static/fonts/Concourse/T8/concourse_t8_italic.woff2') format('woff2');
  } */
